<div class="container">
    <div class="header-container">
        <div class="title-container">
            <h1 class="title">Create an account</h1>
            <p class="text-sm">Enter your information to get started</p>
        </div>
    </div>

    <div class="form-container">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocmplete="off">
            <div class="container-input-button-form">
                <div class="input-container">
                    <input
                        formControlName="username"
                        class="input"
                        placeholder="Enter your name"
                    />
                    <span *ngIf="isValidfield('username')" class="span form-text text-danger">
                        Debe de ser en formato de nombre y apellido
                    </span>
                </div>
                <div class="input-container">
                    <input 
                            formControlName="email"
                            class="input" 
                            placeholder="Enter your email" 
                    />
                    <span *ngIf="isValidfield('email')" class="span form-text text-danger">
                        Email no válido
                    </span>
                </div>
                <div class="input-container">
                    <input
                        formControlName="password"
                        class="input"
                        placeholder="Enter your password"
                        type="password"
                    />
                    <span *ngIf="isValidfield('password')" class="span form-text text-danger">
                   La contraseña debe de ser mayor de 6 caracteres.
              </span>
                </div>
                <div class="input-container">
                    <input
                        formControlName="confirmPassword"
                        class="input"
                        placeholder="Confirm your password"
                        type="password"
                    />
                    <span *ngIf="isValidfield('confirmPassword')" class="span form-text text-danger">
                        Las contraseñas deben ser iguales
                    </span>
                </div>
                <div class="input-container">
                    <input
                        formControlName="charge"
                        class="input"
                        placeholder="Enter your charge"
                    />
                    <span *ngIf="isValidfield('charge')" class="span form-text text-danger">
                        ingrese su cargo
                    </span>
                </div>
                
                <div class="input-container">
                    <input
                        formControlName="departament"
                        class="input"
                        placeholder="Enter your department"
                    />
                    <span *ngIf="isValidfield('departament')" class="span form-text text-danger">
                        ingrese su area
                    </span>
                </div>
                <!-- <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label
                        class="form-check-label text-sm"
                        for="terms">
                        I agree to the
                        <a class="underline" href="#" rel="ugc">
                            terms and conditions
                        </a>
                    </label>
                </div> -->
                <button
                    class="btn btn-primary mt-4" 
                    type="submit"
                >
                    Sign Up
                </button>
                <div class="mt-4 text-center text-sm">
                    Already have an account?
                    <a class="underline" href="/auth/login">
                        Login
                    </a>
                </div>
            </div>
        </form>        
    </div>

</div>